.game {
    background-image: url(./media/bg-triangle.svg); 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    .rock {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .house{
        position: absolute;
    }
}
.activeGame{
    display: flex;
    width: 50%;
    .choose{
        align-items: center;
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-transform: uppercase;
        color: white;
    }
}